<link rel="stylesheet" type="text/css" href="~/css/pagedList.css">

@*import this so we get our HTML Helper*@
@using X.PagedList.Mvc.Core;

@*import this so we can cast our list to IPagedList (only necessary because ViewBag is dynamic)*@
@using X.PagedList.Mvc.Core.Common

<ul class="list-group list-group-flush">
    <!-- Single Comment Area -->

    @if (ViewBag.CommentsList != null & ViewBag.CommentsList.Count > 0)
    {
        List<int> ignoreComments = new List<int>();

        foreach (var item in ViewBag.CommentsList)
        {
            // Data for users from comments list

            string btnReply = "btnReply-" + item.Id;

            string divId = "divId-" + item.Id, divReplyId = "divReplyId-" + item.Id;

            string btnId = "btnId-" + item.Id, btnReplyId = "btnReplyId-" + item.Id;

            @* if comment has no other (reply) comments *@
            <li class="list-group-item">
                <!-- Comment Content -->
                <div class="comment-content d-flex">
                    <!-- Comment Meta -->
                    <div class="comment-meta">
                        <p>Date: @item.CommentDate</p>

                        <p>Time: @item.CommentTime</p>

                        <p>Name: @item.UserName</p>

                        <p>Data: @item.Message</p>

                        <div class="d-flex align-items-center">
                            @*<a href="#" class="like">like</a>*@

                            <a href="javascript: void(0)" name="@btnReply" class="btn btn-primary reply replyFirstLvl">Reply</a>

                            @{
                                string styleAllComments = "";
                            }

                            @if (CommentsManager.GetReplyBranchesStatus(item.Id) == true)
                            {
                                styleAllComments = "block";
                            }
                            else
                            {
                                styleAllComments = "none";
                            }

                            <a href="javascript: void(0)" name="@btnReply" style="display: @styleAllComments; margin-left: 10px" class="btn btn-primary showAllComments">All replies</a>

                            <input type="hidden" class="@btnReply" name="@item.UserName" />
                        </div>

                        <!-- Reply Form -->
                        <div class="contact-form-area formComments @btnReply" style="display: none; padding: 10px;">
                            <hr style="background: white;" />
                            <p>Leave reply</p>
                            <form asp-action="LeaveComment" asp-controller="Home" data-ajax="true" data-ajax-method="POST" data-ajax-success="Comments"
                                  asp-route-replyCommentId="@item.Id" asp-route-page="@ViewBag.Page"
                                  asp-route-divId="@divId" asp-route-btnId="@btnId" asp-route-secondLvl="true" asp-route-divIdInsert="@btnReply">
                                <div class="row">

                                    <div class="col-12">
                                        <label class="form-label">Username</label>
                                        <input name="userName" type="text" class="form-control" placeholder="Username" required />
                                    </div>

                                    <div class="col-12">
                                        <label class="form-label">Message</label>
                                        <textarea name="message" style="margin-bottom: 10px; font-size: 14px;" maxlength="1024" class="form-control" placeholder="Your message*"></textarea>
                                    </div>

                                    <div class="container">
                                        <div class="row">
                                            <div class="col-12 col-md-6" style="margin-bottom: 10px;">
                                                <button class="btn btn-primary btn-block replyCancel" type="button">Cancel</button>
                                            </div>
                                            <div class="col-12 col-md-6">
                                                <button id="@btnId" class="btn btn-primary btn-block" type="submit">Submit</button>
                                            </div>
                                        </div>
                                        <br />
                                        <div style="display: none;" id="@divId"></div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                @{
                    CommentsManager.CleanReplyBranches();
                    string replyBranches = CommentsManager.GetSecondLevelComments(item.Id);

                    <div class="@btnReply" style="display: none;">

                        @if (!string.IsNullOrEmpty(replyBranches))
                        {
                            @Html.Raw(replyBranches)
                        }

                        <input type="hidden" id="" />

                        <ol class="children">
                            <li class="list-group-item">
                                <!-- Comment Content -->
                                <div class="comment-content d-flex">
                                    <!-- Comment Meta -->
                                    <div class="comment-meta">
                                        <!-- Reply Form -->
                                        <div class="contact-form-area formSecondlvlComments">
                                            <form asp-action="LeaveComment" asp-controller="Home" data-ajax="true" data-ajax-method="POST" data-ajax-success="Comments"
                                                  asp-route-replyCommentId="@item.Id" asp-route-page="@ViewBag.Page"
                                                  asp-route-divId="@divReplyId" asp-route-btnId="@btnReplyId" asp-route-secondLvl="true" asp-route-divIdInsert="@btnReply">
                                                <div class="container">
                                                    <div class="row">

                                                        <div class="col-12">
                                                            <label class="form-label">Username</label>
                                                            <input name="userName" type="text" class="form-control" placeholder="Username" required />
                                                        </div>

                                                        <div class="col-12">
                                                            <label class="form-label">Message</label>
                                                            <textarea name="message" style="margin-bottom: 10px; font-size: 14px; height: 70px;" maxlength="1024" name="commentText" class="form-control" placeholder="Your message*"></textarea>
                                                        </div>

                                                        <div class="container">
                                                            <div class="row">
                                                                <div class="col-12 col-md-6">
                                                                    <button class="btn btn-primary btn-block replyCancelSecondLvl" type="button">Cancel</button>
                                                                </div>
                                                                <div class="col-12 col-md-6">
                                                                    <button id="@btnReplyId" class="btn btn-primary btn-block" type="submit">Submit</button>
                                                                </div>
                                                            </div>
                                                            <br />
                                                            <div style="display: none;" id="@divReplyId"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ol>

                    </div>
                }

            </li>
        }

        @Html.PagedListPager((X.PagedList.IPagedList)ViewBag.CommentsList, page => Url.Action("Comments", "Home", new { Page = page, Table = ViewBag.TableComments, Id = ViewBag.Id }),
            PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "PartialViewId" }))
    }
    else
    {
        <li>
            <h4>
                No comments
            </h4>
        </li>
    }

</ul>

@section Scripts{
    <script type="text/javascript" src="~/js/site.js"></script>
}

<script>

    /*
     0 - input with user nickname
     1 - first level comment form
     2 - block with second level of comments
     */

    var replyCancelId = "";
    var allCommentsId = "";

    $(".replyFirstLvl").click(function () {
        // Show all reply buttons on the page
        $(".replyFirstLvl").show();
        // Hide all comment windows on page
        $(".formComments").hide();

        // Get unique attribute by name (unique form comment id)
        replyCancelId = $(this).attr("name");

        // Checking condition of reply comments block. If block displayed then focus to their form below, if not then open nearest form
        if ($("." + replyCancelId).eq(2).css("display") === "none") {
            // Hide current reply button
            $(this).hide();
            // Opening the comment adding window by unique class with position 1
            $("." + replyCancelId).eq(1).show();
            // When you click on the answer button, the nickname of the one to whose comment the answer is displayed in the text area field
            $("." + replyCancelId + " textarea").val($("." + replyCancelId).eq(0).attr("name") + ", ");
            $("." + replyCancelId + " textarea").focus();
        }
        else {
            // Get unique attribute by name (user login)
            // When you click on the answer button, the nickname of the one to whose comment the answer is displayed in the text area field
            $(".formSecondlvlComments textarea").val($("." + replyCancelId).eq(0).attr("name") + ", ");
            $(".formSecondlvlComments textarea").focus();
        }
    });

    $(".replyCancel").click(function () {
        // Hiding the comment adding window by unique class with position 1
        $("." + replyCancelId).eq(1).hide();
        // Opening the reply button by unique name
        $("a[name='" + replyCancelId + "']").eq(0).show();
        // Clearing text in textarea
        $("." + replyCancelId + " textarea").val("");
    });

    $(".replyCancelSecondLvl").click(function () {
        $(".formSecondlvlComments textarea").val("");
    });

    $(".showAllComments").click(function () {

        // Insert event-click on the new blocks
        var replyButtons = $(".replySecondLvl");

        // Add "on click" event for all buttons in second lvl of comments
        Array.from(replyButtons).forEach(function (element) {
            element.addEventListener('click', function () {
                $(".formSecondlvlComments textarea").val($(this).attr("name") + ", ");
                $(".formSecondlvlComments textarea").focus();
            });
        });

        // Get unique attribute by name (unique "all comments" div id)
        allCommentsId = $(this).attr("name");

        $.ajax({
            url: "/Home/CheckSecondBranch",
            type: "POST",
            data: {
                divId: allCommentsId
            },
            beforeSend: function () {
                // Disable all comments button
                $("#" + allCommentsId).prop('disabled', false);
            },
            dataType: "html",
            success: function (data) {

                var result = JSON.parse(data);                

                if (result.status === true) {
                    // If the comment reply window is open (first branch), then close it
                    if ($("." + allCommentsId).eq(1).css('display') === "block") {
                        // Close the form
                        $("." + allCommentsId).eq(1).css("display", "none");
                        // Clearing text in textarea
                        $(".formComments textarea").text("");
                        // Opening the reply button by unique name
                        $("a[name='" + allCommentsId + "']").show();
                        // Clear second branch text field
                        $(".formSecondlvlComments textarea").val("");
                    }

                    // If the block with response comments has the "display" property as "none", then show this block
                    if ($("." + allCommentsId).eq(2).css('display') === "none") {
                        $("." + allCommentsId).eq(2).css("display", "block");
                    }
                    // If the block with response comments has the "display" property as "block", then hide this block
                    else {
                        $("." + allCommentsId).eq(2).css("display", "none");
                    }
                }

                // Enable all comments button
                $("#" + allCommentsId).prop('disabled', true);
            }
        });


    });

</script>